@page "/parent"

@*The ::deep pseudo-element in Parent.razor.css only works with descendant elements. 
The following markup applies the h1 styles to components as expected. 
The parent component's scope identifier is applied to the div element, 
so the browser knows to inherit styles from the parent component.

However, excluding the div element removes the descendant relationship. 
In the following example, the style is not applied to the child component.*@

<div>
    <h1>Parent Component - H1 Tag</h1>
    <h2>Parent Component - H2 Tag</h2>

    <p>-------------------------------</p>

    <Child></Child>
</div>
