@page "/baseclassapproach"
@using CodeSeparation.Components.Pages
@inherits BaseClassApproach


<p>Current count: @counter</p>
<button class="btn btn-primary" @onclick="IncrementCounter">Click Me</button>