@page "/"

<PageTitle>Home</PageTitle>

<h1>QuickGrid Test</h1>

<p><a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/components/quickgrid?view=aspnetcore-9.0&tabs=visual-studio">QuickGrid Tutorial Link</a></p>
<p><a href="https://aspnet.github.io/quickgridsamples/getstarted">QuickGrid Sample App</a></p><br>
<p><b>Command to add QuickGrid Package:</b> <pre><code>dotnet add package Microsoft.AspNetCore.Components.QuickGrid</code></pre></p><br>
<p><b>Add the reference to project, if not added during package installation:</b> <pre><code>&lt;PackageReference Include="Microsoft.AspNetCore.Components.QuickGrid" Version="9.0.8" /&gt;</code></pre></p><br>
<P><b>Add the component to a razor page:</b> <pre><code>@@using Microsoft.AspNetCore.Components.QuickGrid;</code></pre></P>