@page "/"

<PageTitle>Home</PageTitle>

<h1>Changing Default Look</h1>

<ol>
    <li>Moves the default navigation bar from left to top.</li>
    <li>Changes the navbar color.</li>
    <li>Adds a footer bar at the bottom.</li>
</ol>

<ol>
    <li>Update <code>Components/Layout/MainLayout.razor</code></li>
    <li>Update <code>Components/Layout/NavMenu.razor</code></li>
    <li>Update <code>wwwroot/app.css</code></li>
</ol>
<p>See the code in this project for details.</p>